
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Content/AdminLTE-2.4.3/pages/widgets.html" target="_blank">widgets.html &gt;&gt;</a>
</p>

<p>
    @Html.ActionLink("Login >>", "Login", "Account", new RouteValueDictionary() { { "target", "_blank" } })
</p>
<p>
    @Html.ActionLink("List 1 >>", "list", "Home", new RouteValueDictionary() { { "target", "_blank" } })
</p>
<p>
    @Html.ActionLink("List 2 >>", "list2", "Home", new RouteValueDictionary() { { "target", "_blank" } })
</p>
<p>
    @Html.ActionLink("List 3 >>", "list3", "Home", new RouteValueDictionary() { { "target", "_blank" } })
</p>