
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Login >>", "Login", "Account")
</p>
<p>
    @Html.ActionLink("Bootstrap-Table Demp >>", "list", "Home")
</p>
<p>
    @Html.ActionLink("Bootstrap-Table Demp >>", "list2", "Home")
</p>
<p>
    @Html.ActionLink("Bootstrap-Table Demp >>", "list3", "Home")
</p>